<p id="notice"><%= notice %></p>
<center>
<%= form_with(model: user) do |form| %>
<table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
  <tbody>
    <%= render 'contributions/header' %>
  </tbody>
  <tbody>
    <tr>
      <td>
        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
            <% if user.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
                <ul>
                  <% user.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <div class="field">
              <tr><td valign="top">name:</td><td>
              <%= form.text_field :name %>
            </div>
          
            <div class="field">
              <tr><td valign="top">email:</td><td>
              <%= form.text_field :email %>
            </div>
            
            <div class="field">
              <tr><td valign="top">about:</td><td>
              <%= form.text_field :about %>
            </div>
          
            <div class="actions">
              <%= form.submit %>
            </div>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<% end %>
</center>