<p id="notice"><%= notice %></p>
<center>
<table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
  <tbody>
    <%= render 'contributions/header' %>
    <tr>
      <td>
        <table border="0">
          <tbody>
            <tr class="athing"></tr>
            <td valign="top">name:</td>
            <td>
              <a class="hnuser"><%= @user.name %></a>
            </td>
            <tr>
              <td valign="top">created:</td>
              <td>
                <a><%= "#{time_ago_in_words(@user.created_at)} ago" %></a>
              </td>
            </tr>
            <tr>
              <td valign="top">karma:</td>
              <td>
                <% @contributions = Contribution.where(:user_id => @user.id) %>
                <% @comments = Comment.where(:user_id => @user.id) %>
                <% @user_points = 0 %>
                <% @contributions.each do |contribution| %>
                  <% @user_points += contribution.points %>
                <% end %>
                <% @comments.each do |comment| %>
                  <% @user_points += comment.points %>
                <% end %>
                <%= @user_points %>
              </td>
            </tr>
            <tr>
              <td valign="top">about:</td>
              <td>
                <a href=""><%= @user.about %></a>
              </td>
            </tr>
            <tr>
              <td valign="top">email:</td>
              <td>
                <a href=""> <%= @user.email %></a>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <% if logged_in? && @user.id == current_user.id %>
          <%= link_to 'edit', edit_user_path(@user) %><br>
        <% end %>
        <%= link_to 'submissions', contributions_user_path(:user_id => @user.id) %><br>
        <%= link_to 'comments', comments_user_path(:user_id => @user.id) %><br>
        <% if logged_in? && @user.id == current_user.id %>
          <%= link_to 'upvoted submissions', contributions_user_path(:upvoted => 0) %><br>
          <%= link_to 'upvoted comments', comments_user_path(:upvoted => 0) %><br>
          <%= 'APIKey:' %>
          <%= @user.APIKey %><br>
        </tr>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
</center>



