<p id="notice"><%= notice %></p>

<% @comments.each do |comment| %>
  <table border="0">
    <tr class="athing comtr">
      <td>
        <table border="0">
          <tr>
            <td valign="top" class="votelinks">
              <% if logged_in? %>
                  <%has_voted_comment  =  VotesComment.find_by(user_id: User.find_by(id: session[:user_id]).id,  comment_id: comment.id)!= nil  %>
                  <% can_vote_comment = comment.user_id != User.find_by(id: session[:user_id]).id and logged_in? %>
                  <% if !has_voted_comment and can_vote_comment %>
                    <center>
                      <span>
                          <%= link_to image_tag("grayarrow.gif") ,  vote_comment_path(comment), method: :put %>
                      </span>
                    </center>
                  <% elsif !has_voted_comment and !can_vote_comment%>
                    <center>
                      <span>
                        *
                      </span>
                    </center>
                  <% end %> 
                  <% else %>
                    <center>
                      <span>
                        *
                      </span>
                    </center>
                  <%end%>
            </td>
            <td class="default">
              <div style="margin-top:2px; margin-bottom:-10px;">
                <span class="comhead">
                  <% @contribution = Contribution.find(comment.contribution_id)  %>
                  <a><%= link_to User.find_by(:id => comment.user_id).name,  User.find_by(:id => comment.user_id)%></a> 
                  <span class="age">
                    <a href=""><%= "#{time_ago_in_words(comment.created_at)} ago" %></a>
                  </span>
                  |
                  <span>
                    <a><%= link_to "on: #{@contribution.title}", @contribution %></a>
                  </span>
                  
                  <% if has_voted_comment %>
                    |
                    <span>
                    <%= link_to 'unvote',  unvote_comment_path(comment), method: :put %>
                    </span>
                  <% end %>
                  
                  <% if logged_in? && comment.user_id == current_user.id && Comment.where(parent_id: comment.id).size == 0 %>
                    |
                    <%= link_to 'delete', comment, method: :delete, data: { confirm: 'Are you sure you want to delete?' } %>
                  <% end %>
                </span>
              </div>
                
              <br>
              <div class="card">
                <div class="card-body">
                  <%= comment.text %>
                  <br>
                  <%= link_to 'reply', new_contribution_comment_path(@contribution, parent_id: comment.id) %>
                </div>
              </div>
              <%= render 'comments/show', :object => @comments = Comment.where(contribution_id: @contribution.id, parent_id: comment.id) %>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
<% end %>