<%= form_with(model: comment) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <form method="post" action="/comments">
    <% if logged_in? %>
      <% comment = @new_comment %>   
      <%= form.hidden_field :user_id, value: current_user.id %>
      <%= form.hidden_field :contribution_id, value: contribution_id %>
      <%= form.hidden_field :parent_id, value: nil %>
      <%= form.hidden_field :points, value: 1 %>
      <textarea name="comment[text]" rows="6" cols="60" required minlength="3" required></textarea> <br />
      <br />
      <input type="submit" value="add comment" />
    <% else %>
    <textarea name="nil" rows="6" cols="60"></textarea> <br />
      <br />
      <button><%= link_to "add comment", login_path %></button>
    <% end %>
  </form>

<% end %>
