<p id="notice"><%= notice %></p>
<center>
<table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
  <tbody>
    <%= render 'contributions/header' %>
    <tr>
      <td>
        <table border="0" cellpadding="0" cellspacing="0" class="itemlist">
          <tbody>
            <tr class="athing">
              <% if params.has_key?(:upvoted) %>
                <% @votes = VotesComment.where(user_id: User.find_by(id: current_user.id)) %>
                <% @comments = Comment.none %>
                <% @votes.each do |vote| %>
                  <% @comments = @comments + Comment.where(id: vote.comment_id) %>
                <% end %>
              <% else %>
                <% @comments = Comment.where(user_id: params["user_id"]) %>
              <% end %>
              <td align="right" valign="top" class="title">
                <%= render 'comments_user', :object => @comments = @comments%>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
</center>