<p id="notice"><%= notice %></p>
<center>
<table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
  <tbody>
    <%= render 'contributions/header' %>
    <tr><td><table border="0" cellpadding="0" cellspacing="0" class="itemlist">
              <tbody><tr class="athing" id="26831162">

    <% i=1 %>
              <% @comments.each do |comment| %>
              <% if logged_in? && current_user.id == comment.user_id %>
                <tr class="athing comtr" id="26590395"><td>
                  <table border="0">  
                    <tbody><tr>    
                      <td class="ind"><img src="s.gif" height="1" width="0"></td><td valign="top" class="votelinks">
                        <center><font color="#ff6600">*</font><br>
                          <img src="s.gif" height="1" width="14"></center>    </td><td class="default"><div style="margin-top:2px; margin-bottom:-10px;"><span class="comhead">
                            <span class="score" id="score_26590395"> <%= comment.points %> points</span> by 
                            <%= link_to User.find(comment.user_id).name, user_path(User.find(comment.user_id)) %></a>
                            <span class="age"><a href="item?id=26590395"><a><%= "#{time_ago_in_words(comment.created_at)} ago" %></a></a></span> <span id="unv_26590395"></span><span class="par"> | <a href="item?id=26590393">parent</a></span> <a class="togg" n="1" href="javascript:void(0)" onclick="">[–]</a>          <span class="storyon"> | on: <a href=""><%=Contribution.find(comment.contribution_id).title%></a></span>
                            </span></div><br><div class="comment">
                            <span class="commtext c00"><%= comment.text %></span>
                            <div class="reply">        <p><font size="1">
                            </font>
                            </p></div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                </tr>
                <% end %>
                <% i+=1 %>
                
              <% end %>
  </tbody>
</table>
</center>