<html lang="en" op="reply">
  <head>
    <meta name="referrer" content="origin">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="news.css?gwUwIJb2O4bc3uwDx50E">
    <link rel="shortcut icon" href="favicon.ico">
    <title>Add Comment | Hacker News</title>
  </head>
<body>
  <center>
    <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
      <tbody>
        <tr>
          <td bgcolor="#ff6600">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
              <tbody>
                <tr>
                  <td style="width:18px;padding-right:4px">
                    <a href=/contributions>
                      <img src="y18.gif" width="18" height="18" style="border:1px white solid;">
                    </a>
                  </td>
                  <td style="line-height:12pt; height:10px;">
                    <span class="pagetop">
                      <b>Add Comment</b>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr id="pagespace" title="Add Comment" style="height:10px"></tr>
        <tr>
          <td>
            <table class="fatitem" border="0">
              <tbody>
                <tr class="athing" id="26910060">    
                  <td class="ind"></td>
                  <td valign="top" class="votelinks">
                    <center>
                      <a id="up_26910060" onclick="return vote(event, this, &quot;up&quot;)" href="vote?id=26910060&amp;how=up&amp;auth=0dfc6dd2e89cbdf39e53f44e34760222bcca1674&amp;goto=reply%3Fgoto%3Ditem%253Fid%253D26909488%252326910060%26id%3D26910060#26910060">
                        <div class="votearrow" title="upvote"></div>
                      </a>
                    </center>    
                  </td>
                <td class="default">
                  <div style="margin-top:2px; margin-bottom:-10px;">
                    <span class="comhead">
                      <a href="/users/<%=Comment.find_by(:id => @comment.parent_id).user_id%>" class="hnuser"> <%= User.find_by(:id => Comment.find_by(:id => @comment.parent_id).user_id).name %></a> 
                      <span class="age">
                        <a href="/contributions/<%=@comment.contribution_id%>"> <%= time_ago_in_words(Comment.find_by(:id => @comment.parent_id).created_at) %></a>
                      </span> 
                      <span id="unv_26910060"></span>
                      <span class="par">
                         | 
                        <a href="/contributions/<%=@comment.contribution_id%>">parent</a>
                      </span> 
                      <a class="togg" n="3" href="javascript:void(0)" onclick="return toggle(event, 26910060)">[–]</a> 
                      <span class="storyon">
                         | on:  
                        <a href="/contributions/<%=@comment.contribution_id%>"><%= Contribution.find_by(:id => @comment.contribution_id).title%></a>
                      </span>
                    </span>
                  </div>
                  <br>
                  <div class="comment">
                    <span class="commtext c00">&gt; <%= Comment.find_by(:id => @comment.parent_id).text%>
                    <div class="reply"></div>
                  </span>
                </div>
              </td>
            </tr>
            <tr style="height:10px"></tr>
            <tr>
              <td colspan="2"></td>
              <td>
                <%= render 'reply_form', comment: @comment %>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
  </table>
  </center>
  <script type="text/javascript" src="hn.js?gwUwIJb2O4bc3uwDx50E"></script>
</body>
</html>