<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @comment.user_id %>
</p>

<p>
  <strong>Text:</strong>
  <%= @comment.text %>
</p>

<p>
  <strong>Contribution:</strong>
  <%= @comment.contribution_id %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
