<td valign="top" class="votelinks">
<% if logged_in? %>
  <% has_voted  =  Vote.find_by(user_id: User.find_by(id: session[:user_id]).id, contribution_id: contribution.id)!= nil  %>
  <% can_vote = contribution.user_id != User.find_by(id: session[:user_id]).id and logged_in? %>
  
  <% if !has_voted and can_vote %>
    <center>
      <span>
        <%= link_to image_tag("grayarrow.gif") ,  vote_contribution_path(contribution), method: :put %>
      </span>
    </center>
  <% elsif !has_voted and !can_vote%>
    <center>
      <span>
        *
      </span>
    </center>
  <% end %> 
<% else %>
  <center>
    <span>
      *
    </span>
  </center>
<%end%>
</td>
<td class="title">
  <a>
    <% if contribution.type_url %>
      <%= link_to contribution.title, "#{contribution.url}", :target => "_blank" %>
    <% else %>
      <%= link_to contribution.title, contribution %>
    <% end %>
  </a>
</td>
<tr>
<td colspan="2"></td>
<td class="subtext">
  <span class="" id=""><%= contribution.points %> points</span> by 
 
  <%= link_to User.find(contribution.user_id).name, user_path(User.find(contribution.user_id)) %></a>
  <a href="" class=""></a> 
  <span class="age">
    <a><%= link_to "#{time_ago_in_words(contribution.created_at)} ago", contribution %></a>
  </span>
    <% if has_voted %>
    |
    <span>
    <%= link_to 'unvote',  unvote_contribution_path(contribution), method: :put %>
    </span>
  <% end %>
  <% if logged_in? && contribution.user_id == current_user.id %>
    |
    <%= link_to 'delete', contribution, method: :delete, data: { confirm: 'Are you sure you want to delete?' } %>
  <% end %>
  |
  <a><%= link_to "#{Comment.where(contribution_id: contribution.id).size} comments", contribution %></a>
</td>
</tr>
<tr class="spacer" style="height:5px"></tr>