<%= form_with(model: contribution) do |form| %>
  <% if contribution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contribution.errors.count, "error") %> prohibited this contribution from being saved:</h2>

      <ul>
        <% contribution.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <center>
    <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
      <%= render 'header' %>
      <tbody>
        <tr>
          <td>
            <form method="post" action="/contributions">
              <input type="hidden" name="fnid">
              <input type="hidden" name="fnop" value="submit-page">
              <script type="text/javascript">function tlen(el) { var n = el.value.length - 80; el.nextSibling.innerText = n > 0 ? n + ' too long' : ''; }</script>
              <% contribution = @new_contribution %>         
              <table border="0">
                <tbody>
                  <tr>
                    <td>title</td>
                    <td>
                      <input type="text" name="contribution[title]" value="" size="50" oninput="tlen(this)" onfocus="tlen(this)">
                      <span style="margin-left:10px"></span>
                    </td>
                  </tr>
                  <tr>
                    <td>url</td>
                    <td><input type="text" name="contribution[url]" value="" size="50"></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td><b>or</b></td>
                  </tr>
                  <tr>
                    <td>text</td>
                    <td><textarea name="contribution[ask]" rows="4" cols="49"></textarea></td>
                  </tr>
                  <tr><td></td><td></td></tr>
                  <tr>
                    <td></td>
                    <td><input type="submit" value="submit"></td>
                  </tr>
                  <tr style="height:20px"></tr>
                  <tr>
                    <td></td>
                    <td>Leave url blank to submit a question for discussion. If there is no url, the text (if any) will appear at the top of the thread.
                      <br>
                    </td>
                  </tr>
                </tbody>
              </table>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </center>


<% end %>
