<tr>
  <td bgcolor="#ff6600">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
      <tbody>
        <tr>
          <td style="width:18px;padding-right:4px">
            <a href=/contributions>
              <img src="../y18.gif" width="18" height="18" style="border:1px white solid;">
            </a>
          </td>
          <td style="line-height:12pt; height:10px;">
            <span class="pagetop"><b class="hnname">
              <a href="/contributions">Hacker News</a></b>
              <a href="/newest">new</a>
              <% if logged_in? %>
                |
                <a><%= link_to "threads", comments_user_path(:user_id => current_user.id)%></a>
              <% end %>
              |
              <a href="/ask">ask</a>
              |
              <% if logged_in? %>
                <a href="/contributions/new">submit</a>
              <% else %>
                <a href="<%= login_path %>">submit</a>
              <% end %>
            </span>
          </td>
          <td style="text-align:right;padding-right:4px;">
            <span class="pagetop">
              <% if logged_in? %>
                <span>
                  <%= link_to current_user.name, current_user%>
                  <% @user_contributions = Contribution.where(:user_id => current_user.id) %>
                  <% @user_comments = Comment.where(:user_id => current_user.id) %>
                  <% @user_points = 0 %>
                  <% @user_contributions.each do |contribution| %>
                    <% @user_points += contribution.points %>
                  <% end %>
                  <% @user_comments.each do |comment| %>
                    <% @user_points += comment.points %>
                  <% end %>
                  <%= "(#{@user_points})" %>
                  |
                  <%= link_to "logout", logout_path %>
                </span>
              <% else %>
                <%= link_to "login", login_path %>
              <% end %>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
<tr id="pagespace" title="" style="height:10px"></tr>