<p id="notice"><%= notice %></p>
<center>
<table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
  <tbody>
    <%= render 'header' %>
    <tr><td><table border="0" cellpadding="0" cellspacing="0" class="itemlist">
              <tbody><tr class="athing" id="26831162">

    <% i=1 %>
              <% @contributions.each do |contribution| %>
                <td align="right" valign="top" class="title">
                  <span class="rank"><%= i %>.</span>
                  <%= render 'contribution', contribution: contribution %>
                </td>
                
                <% i+=1 %>
              <% end %>
  </tbody>
</table>
</center>