<p id="notice"><%= notice %></p>
<center>
<table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
  <tbody>
  <%= render 'header' %>
    <tr>
      <td>
        <table class="fatitem" border="0">
          <tbody>
            <tr class="athing">
              <td align="right" valign="top" class="title">
                <span class="rank"></span>
              </td>      
              
              
              <td valign="top" class="votelinks">
                <% if logged_in? %>
                  <% has_voted  =  Vote.find_by(user_id: User.find_by(id: session[:user_id]).id, contribution_id: @contribution.id)!= nil  %>
                  <% can_vote = @contribution.user_id != User.find_by(id: session[:user_id]).id and logged_in? %>
                      
                  <% if !has_voted and can_vote %>
                    <center>
                      <span>
                        <%= link_to image_tag("grayarrow.gif") ,  vote_contribution_path(@contribution), method: :put %>
                      </span>
                    </center>
                  <% elsif !has_voted and !can_vote%>
                    <center>
                      <span>
                        *
                      </span>
                    </center>
                  <% end %> 
                <% else %>
                  <center>
                    <span>
                      *
                    </span>
                  </center>
                <%end%>
              </td>
              
              
              <td class="title">
                  <% if @contribution.type_url %>
                  <a href=<%= @contribution.url %> ><%= @contribution.title %></a>
                  <span class="sitebit comhead">
                    (
                     <span><%= @contribution.url %></span>
                    )
                </span>
                  <% else %>
                    <a><%= @contribution.title %></a>
                  <% end %>
              </td>
            </tr>
            
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" ><%= @contribution.points %> points</span> by 
                <a><%= link_to User.find_by(:id => @contribution.user_id).name,  User.find_by(:id => @contribution.user_id)%></a>
                <span class="age">
                  <a href=""><%= "#{time_ago_in_words(@contribution.created_at)} ago" %></a>
                </span> |
                <% if has_voted %>
                    <span>
                    <%= link_to 'unvote',  unvote_contribution_path(@contribution), method: :put %>
                    </span> |
                <% end %>  
                <a><%= link_to "#{Comment.where(contribution_id: @contribution.id).size} comments", @contribution %></a>              
              </td>
            </tr>
            
            <tr class="spacer" style="height:10px"></tr>
            <tr>
              <% if !@contribution.type_url %>
                <td colspan="2"></td>
                <td colspan="2"><%= @contribution.ask %></td>
              <% end %>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td>
                <%= render 'comments/form', {comment: @comment, contribution_id: @contribution.id} %>
                <!--%= link_to 'reply', new_contribution_comment_path(@contribution, parent_id: nil) %-->
              </td>
            </tr>
            
            
            <table border="0" class="comment-tree">
              <tbody>
                <%= render 'comments/show', :object => @comments = Comment.where(contribution_id: @contribution.id, parent_id: nil) %>
              </tbody>
            </table>
            
            
          </tbody>
        </table>
      </td>
    </tr>
    
    

  </tbody>
</table>
</center> 
